QUESTION 1
Create an empty list.

In [1]:
list1=[]

QUESTION 2
Create a list and add an element to the end of this list.

In [9]:
list2=[12,234,789,34.5]
list2.append(4000)
list2

[12, 234, 789, 34.5, 4000]

QUESTION 3
For the above created list print the last element.

In [10]:
list2[-1]

4000

QUESTION 4 
Reverse the above created list.

In [11]:
list2.reverse()

In [12]:
list2

[4000, 34.5, 789, 234, 12]

Question 5
Sort the above created list.

In [13]:
list2.sort()

In [14]:
list2

[12, 34.5, 234, 789, 4000]

Question 6
Create a list of your top three favorite movies, then print the second movie title.

In [15]:
movies=['Intersteller','Iron man','My name is Khan']
movies[1]

'Iron man'

Question 7
Create a list of your favorite animals, then add a new animal to the list and print the updated list.

In [17]:
animals=['Cat','Elephant','Dog','Lion','Capybara','Panda']
animals.append('Tiger')

In [18]:
animals

['Cat', 'Elephant', 'Dog', 'Lion', 'Capybara', 'Panda', 'Tiger']

QUESTION 8
Create a list of your favorite cities, then use the index() method to find the position of a specific city
on the list and print it.

In [19]:
cities=['Lucknow','Delhi','Mumbai','Chennai','Kanpur','Chandigarh']
cities.index('Chennai')

3